#navbarNav{
    padding-left: 200px;
}
.form-inline{
    padding-left: 600px;
    color: hsl(192, 70%, 51%);
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
h2{
    text-align: center;
    width: 50%;
    padding-top: 30%;
}

.mobile img {
        position: relative;
        top: 5%;
        transform: translateY(-50%);
      }

